.primary {
  color: white;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;

  
  
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;

}
svg {
  color: white;
  width: 16px;
  height: 16px;
}